

<mat-card class="mat-elevation-z0"> 
<div style="text-align:center;">
  <mat-card-title>Con Nueva Venta Tabla fuera de Container usando row warp y calc</mat-card-title>
</div>
<mat-card-content> 
<form>
<div class="container" fxLayout="column  " fxLayout.gt-xs="row warp " fxLayoutGap="20px"  >
    <ng-template matStepLabel>Condicion de Venta</ng-template>

    <mat-form-field appearance="fill" fxFlex="calc(25%-20px)">
      <mat-label>Condicion.:</mat-label>
      <mat-select placeholder="Condicion de Venta"  cdkFocusInitial>
        <mat-option value=undefined>Seleccione</mat-option>
        <mat-option value=1>Contado</mat-option>
        <mat-option value=2>Cuenta Corriente</mat-option>
      </mat-select>

    </mat-form-field>
 

    <mat-form-field appearance="fill" fxFlex="calc(75%-20px)" >
      <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div fxFlex="calc(100%-20px)">Utilizando row warp y calc se agregan dos Card </div>
  <mat-card class="child-1" fxFlex="calc(25%-20px)">1. One</mat-card> 
  <mat-card class="child-2" fxFlex="calc(75%-20px)">1. Two</mat-card> 
</div>

<br>



<table mat-table [dataSource]="dataSource" class="mat-elevation-z1" >
  <caption style="font-size: 20px;height: 4vh;border: 10px; color: rgb(54, 11, 211);"> DETALLE </caption>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="precio">
    <th mat-header-cell *matHeaderCellDef> Precio. </th>
    <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


</form>
</mat-card-content> 

</mat-card>



  
     
     



  
